.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  padding-top: 100px;
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.book-grid-item {
  width: calc(20% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.book-details-container{
  color: black;
  padding-top: 20px;
  position: left;
  max-width: 430px;
  max-height: 480px;
  cursor: pointer;
}

.overlay-hover {
  opacity: 0.5;
}

.overlay-text {
  font-weight: bold;
  color: black;
  position: relative;
}