#better-reads{
  font-family: 'American Typewriter', serif;
  font-weight: 300;
  font-size: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cover:hover {
  opacity: 0.5;
  cursor: pointer;
}

.book-details-container{
  color: black;
  padding-top: 20px;
  position: left;
  max-width: 430px;
  max-height: 480px;
  cursor: pointer;
}

.overlay-text {
  font-weight: bold;
  color: black;
  position: relative;
}

.library {
  width: 250px;
  background-color: #f0f0f0;
  padding-bottom: 20%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
}

#library-image-container {
  position: relative;
  display: inline-block;
}

#delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
}
